.sub_info_section {
  margin-bottom: 135px;
  @media (max-width: 991px) {
    margin: 30px 0;
  }

  .container {
    padding-top: 400px;
    background: url("../images/sub_info1_bg.png");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    @media (max-width: 1199px) {
      padding-top: 200px;
    }
    .row {
      width: 965px;
      margin: auto;
      background-color: #ffffff;
      box-shadow: 10px 10px 74px rgba(0, 0, 0, 0.15);
      @media (max-width: 1199px) {
        width: unset;
      }
      .main_text {
        h1 {
          @include defStyle(secondary-font, 84, 300, heading-secondary-color);
          line-height: 80px;
          letter-spacing: -8px;
          @media (max-width: 1199px) {
            font-size: 70px;
            line-height: 70px;
            letter-spacing: -6px;
          }
          @media (max-width: 767px) {
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -2px;
          }
        }
        h2 {
          @include defStyle(secondary-font, 36, 500, heading-secondary-color);
          line-height: 45px;
          @media (max-width: 767px) {
            font-size: 25px;
            line-height: 30px;
          }
        }
        p {
          width: 755px;
          margin: auto;
          @include defStyle(secondary-font, 24, 400, para-primary-color);
          line-height: 30px;
          @media (max-width: 991px) {
            width: unset;
          }
          @media (max-width: 767px) {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
.sub_info_two {
  background: url("../images/sub_info2_bg.png") !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin-bottom: 130px;
  display: inline-block;
  padding-bottom: 50px !important;
  width: 100%;
  @media (max-width: 991px) {
    margin: 55px 0;
    padding-bottom: 30px !important;
  }
  @media (max-width: 767px) {
    margin: 30px 0;
  }
  .row {
    width: 1000px;
    margin: auto;
    @media (max-width: 1200px) {
      width: unset;
    }
    button {
      @include btnStyle(
        secondary-font,
        10,
        500,
        btn-primary-color,
        heading-primary-color,
        124,
        48,
        4
      );
      text-transform: uppercase;
      border: none;
      transition: background-color 0.25s;
      &:hover {
        background-color: ObjRet($colors, btn-primary-color);
        color: ObjRet($colors, heading-secondary-color);
        border: 1px solid ObjRet($colors, heading-primary-color);
      }
    }
  }
}
.sub_info_three {
  padding-bottom: 80px;
  @media (max-width: 991px) {
    padding: 30px 0;
  }
  .inner {
    padding-top: 60px;
    padding-bottom: 53px;
    background-color: ObjRet($colors, heading-secondary-color);
    @media (max-width: 767px) {
      padding: 30px 0;
    }
    .text_line {
      column-gap: 120px;
      row-gap: 60px;
      @media (max-width: 767px) {
        row-gap: 30px;
        column-gap: 60px;
      }
    }
  }
  h1 {
    @include defStyle(secondary-font, 64, 300, heading-secondary-color);
    line-height: 61px;
    letter-spacing: -4px;
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -2px;
    }
  }
}
.sub_info_four {
  padding-bottom: 120px;
  @media (max-width: 991px) {
    padding: 55px 0;
  }
  @media (max-width: 767px) {
    padding: 30px 0;
  }
  .main_text {
    padding-left: 30px;
  }
  h1 {
    @include defStyle(secondary-font, 64, 300, heading-secondary-color);
    line-height: 61px;
    letter-spacing: -4px;
    margin-bottom: 80px;
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -2px;
    }
    @media (max-width: 991px) {
      margin-bottom: 60px;
    }
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
  h2 {
    @include defStyle(secondary-font, 48, 700, heading-secondary-color);
    line-height: 45px;
    @media (max-width: 767px) {
      font-size: 40px;
    }
  }
  .list {
    ul {
      list-style-type: disc;
      list-style-position: inside;
      li {
        @include defStyle(secondary-font, 24, 400, para-primary-color);
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        &::marker {
          color: ObjRet($colors, heading-secondary-color);
        }
      }
    }
  }
  .image {
    img {
      @media (max-width: 1399px) {
        width: 100%;
      }
    }
  }
}
.sub_info_five {
  margin-bottom: 80px;
  @media(max-width: 991px){
    margin-top:30px;
    margin-bottom: 85px;
  }
  @media(max-width: 767px){
    margin-bottom: 60px;
  }
  h1 {
    @include defStyle(secondary-font, 64, 300, heading-secondary-color);
    line-height: 61px;
    letter-spacing: -4px;
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -2px;
    }
  }
  .inner {
    padding-top: 325px;
    padding-bottom: 140px;
    background: url("../images/sub_info5_bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 991px){
      padding:30px 0;
    }
    .text{
        padding-top: 100px;
        @media(max-width: 991px){
          padding-top:0;
        }
    }
    h2 {
      @include defStyle(secondary-font, 40, 700, bg-secondary);
      line-height: 38px;
      letter-spacing: -0.5px;
    }
    p {
      @include defStyle(secondary-font, 24, 400, bg-secondary);
      line-height: 37px;
    }
    button {
      @include btnStyle(
        secondary-font,
        12,
        500,
        heading-secondary-color,
        btn-primary-color,
        124,
        48,
        4
      );
      text-transform: uppercase;
      border: 1px solid ObjRet($colors, heading-primary-color);
      transition: background-color 0.25s;
      &:hover {
        border-width: 2px;
      }
      @media (max-width: 767px) {
        font-size: 10px;
      }
    }
    img{
        @media(max-width: 1199px){
            width:100%;
        }
    }
  }
}
