$colors:(
    bg-main-primary:#E5E5E5,
    bg-main-secondary: #FDF1E8,
    heading-primary-color:#ED6401,
    heading-secondary-color:#EB741D,
    heading-third-color:#FDF1E8,
    heading-fourth-color:#545454,
    para-primary-color:#000000,
    para-secondary-color:#313131,
    para-third-color:#838383,
    para-fourth-color:#565656,
    para-fifth-color:#3F1A00,
    para-sixth-color:#4B4B4B,
    sale-color:#FF0000,
    bg-primary:#E8E8E8,
    bg-secondary:#ffffff,
    bg-third:#c4c4c433,
    bg-fourth:#F9F9F9,
    bg-fifth:#FCE6D6,
    bg-sixth:#666666,
    icon-color:#3F1A00,
    btn-primary-color:#ffffff,
    product-primary-bg:#FD5901,
    inp-plchold-color:#171717,
    inp-brdr:#CECECE,
    brdr-primary-color:#9D9D9D,
    brdr-secondary-color:#6F6F6F,
    card-bg-primary:#FF8D3A,
    card-bg-secondary:#F9A262,
    discount-price-color:#47AD7C,
    footer-bg:#EEEEEE,
    yt-bg:#FF0000,
    insta-bg:#C13584,
    twt-bg:#1DA1F2,
    lkdn-bg:#0077B5,
    fb-bg:#3B5998
);
$fonts:(
    primary-font:'source sans pro',
    secondary-font:'gotham'
);