.affMark_info_two {
    padding-bottom: 120px;
    @media(max-width:991px){
        padding:55px 0;
    }
    @media(max-width:767px){
        padding:30px 0;
    }
  .image {
    img {
      width: 100%;
      @media (max-width: 991px) {
        width: 450px;
      }
      @media(max-width: 767px){
          width: 300px;
      }
    }
  }
  .main_text {
    h1 {
      @include defStyle(secondary-font, 84, 300, heading-secondary-color);
      line-height: 80px;
      letter-spacing: -8px;
      @media (max-width: 1199px) {
        font-size: 70px;
        letter-spacing: -4px;
        line-height: 70px;
      }
      @media (max-width: 767px) {
        font-size: 40px;
        letter-spacing: -2px;
        line-height: 40px;
      }
    }
    p {
      @include defStyle(secondary-font, 16, 400, para-primary-color);
      line-height: 20px;
    }
    .list {
      padding-left: 20px;
      @media(max-width:767px){
          padding-left: 0;
      }
      ul {
        list-style-type: disc;
        li {
          @include defStyle(secondary-font, 24, 400, heading-secondary-color);
          letter-spacing: -0.5px;
          font-style: italic;
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
      }
    }
    h2 {
      @include defStyle(secondary-font, 40, 500, heading-secondary-color);
      letter-spacing: -0.5px;
      @media (max-width: 991px) {
        font-size: 35px;
      }
    }
    button {
      @include btnStyle(
        secondary-font,
        12,
        500,
        heading-secondary-color,
        btn-primary-color,
        183,
        48,
        4
      );
      text-transform: uppercase;
      border: 1px solid ObjRet($colors, heading-primary-color);
      transition: background-color 0.25s;
      &:hover {
        background-color: ObjRet($colors, heading-secondary-color);
        color: ObjRet($colors, btn-primary-color);
      }
      @media (max-width: 767px) {
        font-size: 10px;
      }
    }
  }
}
