.impactUs_services {
  margin-top: 37px;
  padding-top: 300px;
  padding-bottom: 100px;
  background: url("../images/impactUs_services_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @media(max-width:1199px){
      background-size: cover;
  }
  @media(max-width:991px){
      margin:30px 0;
      padding:30px 0;
      background:#662C00;
  }
  .main_text {
    h1 {
      @include defStyle(secondary-font, 84, 300, bg-secondary);
      line-height: 80px;
      letter-spacing: -8px;
      @media (max-width: 1199px) {
        font-size: 70px;
        line-height: 70px;
        letter-spacing: -6px;
      }
      @media (max-width: 767px) {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -2px;
      }
    }
    p {
      @include defStyle(secondary-font, 16, 400, bg-secondary);
      line-height: 24px;
    }
  }
  .text {
      column-gap: 33px;
      @media(max-width:480px){
          row-gap: 16px;
      }
    .circles {
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      width: 212px;
      height: 212px;
      border-radius: 50%;
      h3{
          @include defStyle(secondary-font,20,500,bg-secondary);
          font-style: italic;
          line-height: 25px;
      }
    }
  }
}
.impactUs_newsletter{
    padding-top: 140px;
    @media(max-width: 991px){
        padding-top: 55px;
        padding-bottom: 85px;
    }
    @media(max-width: 767px){
        padding-top: 30px;
        padding-bottom: 60px;
    }
}